services:
  dns:
    image: strm/dnsmasq
    container_name: dnsmasq
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./dnsmasq.conf:/etc/dnsmasq.conf
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: backend
    network_mode: "host"
    environment:
      - FLASK_ENV=production
      - DOCKER_CONTAINER=true
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    network_mode: "host"
    environment:
      - DOCKER_CONTAINER=true
    volumes:
      - ./frontend:/app
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    network_mode: "host"
    volumes:
      - ./nginx/default.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
